.jr-float-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99999;

    background-color: var(--primaryColor);
    height: 50px;
    width: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.4s ease, height 0.4s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.jr-float-btn:hover {
    height: 60px;
    width: 60px;

}

.jr-float-icon {
    font-size: 20px;
}