.jr-view-panel {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;

    border-radius: 10px;
    background-color: var(--lightColor);
    box-shadow: var(--box-shadow-1);
    height: 60vh;
    width: 500px;

    display: flex;
    flex-direction: column;
}

.jr-view-panel-head{
    /* border: 1px solid red; */
    flex: 1;
    border-radius: 10px 10px 0 0;
    background-color: var(--primaryColor);
}

.jr-view-panel-body{
    flex: 4;
    border: 1px solid red;
}

.jr-view-panel-footer{
    flex: 1;
    border: 1px solid red;
}