.jr-view-panel {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;

    border-radius: 10px;
    background-color: var(--lightColor);
    box-shadow: var(--box-shadow-1);
    height: 60vh;
    width: 500px;
}